:root {
	--white: #FFFFFF;
	--main-font: "Montserrat", sans-serif;
	--text-light-mode: #606060;
	--text-dark-mode: #8B8B8B;
	--color-primary: #5468E7;
	--color-dark: #232340;
	--mobile-menu-color: #595976;
	--deactive: #ADADAD;
	--strock-1: #D8D8D8;
	--black: #000000;
	--shade-4: #EDEDED;
	--shade-1: #D1ECFD;
	--shade-2: #E8BEFF;
	--shade-7: #908CFF;
	--shade-5: #FFADD0;
	--shade-6: #FFCE79;
	--accent-2: #FFBA79;
	--accent-1: #FFC7DF;

}

body {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	background: var(--white);
	color: var(--white);

}


.header-container {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	margin-bottom: 1em;
}

.menu-icon {
	background-color: transparent;
	border: none;
}

.logo__link {
	display: flex;
	align-items: center;
}

.container-page {
	padding: 1em;
	width: 80%;
	height: 140vh;
	margin: 0 auto;
	border-radius: 28px;
	background: var(--color-primary);
}

.page-information {
	display: flex;
	margin-bottom: 2em;
}

.number__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
	margin: 0 1em;
}

.name__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
}

.container__title {
	font-weight: 700;
	font-size: 48px;
}

.container__button {
	padding: 1em;
	color: var(--color-primary);
	background-color: var(--white);
	text-decoration: none;
	display: block;
	width: 140px;
	text-align: center;
	margin: 3em 0 3em 1em;
	font-weight: 600;
}

.container__image {
	width: 90vw;
	position: relative;
	top: -7vh;
}

.footer-container {
	margin-top: 20em;
}

.footer-contact {
	margin: 2em;
	border-radius: 24px;
	text-align: center;
	padding: 1.5em;
	color: var(--white);
	background: var(--color-primary) url("/assets/img/line-footer.svg") no-repeat;
	background-position: 10vw -5vh;
}

.contact__image {
	width: 75vw;
}

.contact__message {
	font-size: 14px;
	font-weight: 600;
}

.contact__message::before {
	content: url("/assets/img/hello-icon.svg");
	margin-right: 1em;
}

.contact__text {
	font-size: 18px;
	font-weight: 600;
	margin: 2em 0;
}

.contact__title {
	font-size: 32px;
	font-weight: 700;
	margin: 1em 0;
}

.contact__link-footer {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	border-radius: 8px;
	text-decoration: none;
	color: var(--color-primary);
	font-weight: 600;
}

.footer-content {
	text-align: center;
	width: 100vw;
	background: url("/assets/img/footer-line.svg") no-repeat;
	background-position: 0 -20vh;
}

.footer__text {
	margin: 2em 0;
	color: var(--deactive);
}

.page {
	display: inline-block;
	width: 90vw;
	font-size: 12px;
	font-weight: 600;
	color: var(--text-light-mode);
	padding: 1.5em;
	border: 1px solid var(--strock-1);
	border-radius: 8px;
}

.footer-icon {
	display: flex;
	margin: 15px;
	justify-content: center;
}

.icon {
	margin-right: .3em;
	width: 11px;
	height: 11px;
	border: 1px solid var(--strock-1);
	border-radius: 50%;
	padding: .5em;
}

.facebook-icon {
	background-color: var(--color-primary);
}

.facebook-icon,
.youtube-icon,
.instagram-icon {
	width: 15px;
	height: 15px;
}

.footer__copyright {
	font-size: 12px;
	font-weight: 600;
	color: var(--deactive);
	height: 10vh;
	margin-top: 2em;
}

.navbar {
	display: none;
}

.contact__link-navbar {
	display: none;
}

.logo-symbol {
	display: none;
}

.sub-information {
	display: none;
}

.footer__text-tablet {
	display: none;
}

.navbar-footer {
	display: none;
}

.footer__information {
	display: block;
}

.facebook-icon-tablet {
	display: none;
}

.icon__link {
	display: none;
}

.pink-mask__image {
	display: none;
}

.phone-tablet__image {
	display: none;
}

.logo__image {
	display: none;
}

@media screen and (min-width: 768px) {
	.header-container {
		justify-content: space-around;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar__list {
		display: flex;
		align-items: center;
	}

	.navbar__item {
		margin: 0 2em;
	}

	.navbar__link {
		color: var(--text-dark-mode);
		font-weight: 600;
		text-decoration: none;
	}

	.navbar__link:hover {
		color: var(--color-primary);
	}

	.navbar__link-jobs {
		display: flex;
		align-items: center;
	}

	.navbar__link-jobs::after {
		content: url('/assets/img/notification\(2\).svg');
		height: 10vh;
	}

	.contact__link-navbar {
		display: flex;
		background-color: var(--color-dark);
		color: var(--white);
		padding: 0 2em;
		align-items: center;
		justify-content: center;
		height: 10vh;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 600;
	}

	.menu-hamburguer {
		display: none;
	}

	/*Header end*/

	.container-page {
		height: 88vh;
		box-shadow: -47px 25px var(--shade-1);
		max-height: 500px;
	}

	.container__image {
		display: none;
	}

	.container__button {
		margin-left: 0;
		border-radius: 8px;
	}

	.page__content {
		display: flex;
	}

	.page-information {
		display: flex;
		position: absolute;
		right: 19em;
		top: 15em;
	}

	.number__page {
		color: var(--white);
		margin-right: 3em;
	}

	.name__page {
		color: var(--white);
	}

	.logo__image {
		display: block;
		margin-right: 23em;
	}

	.page__description {
		position: absolute;
		width: 30%;
		right: 10em;
		top: 18em;
	}

	.pink-mask__image {
		display: block;
		position: absolute;
		right: 0;
		top: 11em;
	}

	.phone-tablet__image {
		display: block;
	}

	/* Footer */
	.footer-container {
		margin-top: 5em;
	}

	.footer-contact {
		height: 100vh;
	}

	.bubble-image {
		display: none;
	}

	.contact__image {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.logo-symbol {
		display: inline-block;
	}

	.contact__message {
		margin: 1em 0;
		font-size: 16px;
	}

	.contact__text {
		width: 50%;
		margin: 2em auto 5em;
	}

	.contact__link-footer {
		display: none;
	}

	.contact__information {
		display: flex;
		align-items: center;
	}

	.information {
		border-right: 1px solid;
		height: 64vh;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}

	.contact__title {
		width: 70%;
		font-size: 48px;
	}

	.sub-information {
		display: flex;
		margin: 0 auto;
		height: 26vh;
	}

	.second-bubble {
		position: absolute;
		margin: 0 2em;
	}

	.contact__subtext {
		align-self: center;
		font-size: 24px;
		font-weight: 700;
		margin-top: 3em;
		width: 79%;
	}

	.next__page-footer {
		align-self: flex-end;
		margin-bottom: 1em;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid var(--white);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer__text {
		display: none;
	}

	.footer__text-tablet {
		display: block;
		color: var(--deactive);
		width: 50%;
		margin: 3em auto;
		font-weight: 600;
		font-size: 14px;
	}

	.page {
		display: none;
	}

	.navbar-footer {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid var(--strock-1);
		padding-bottom: 5em;
	}

	.footer__information {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 0 1em;
	}

	.icon {
		border: none;
		display: flex;
		align-items: center;
		align-self: center;
		width: auto;
		height: auto;
	}

	.icon__link {
		display: flex;
		align-items: center;
		margin-right: 1em;
		text-decoration: none;
		color: var(--color-primary);
		font-size: 12px;
		font-weight: 600;
	}

	.facebook-icon {
		display: none;
	}

	.facebook-icon-tablet {
		display: block;
		background: transparent;
	}
}