:root {
	--white: #FFFFFF;
	--main-font: "Montserrat", sans-serif;
	--text-light-mode: #606060;
	--text-dark-mode: #8B8B8B;
	--color-primary: #5468E7;
	--color-dark: #232340;
	--mobile-menu-color: #595976;
	--deactive: #ADADAD;
	--strock-1: #D8D8D8;
	--black: #000000;
	--shade-4: #EDEDED;
	--shade-1: #D1ECFD;
	--shade-2: #E8BEFF;
	--shade-7: #908CFF;
	--shade-5: #FFADD0;
	--shade-6: #FFCE79;
	--accent-2: #FFBA79;
	--accent-1: #FFC7DF;
	--background-color: #EDE5F081;

}

body {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	background: var(--background-color) url('/assets/img/line-jobs.svg') no-repeat;
	background-position: right 1px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	margin-bottom: 1em;
}

.logo__link {
	display: flex;
	align-items: center;
}

.menu-icon {
	background-color: transparent;
	border: none;
}

.container-page {
	padding: 1em;
}

.page-information {
	display: flex;
	margin-bottom: 2em;
}

.number__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
	margin: 0 1em;
}

.name__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
}

.container__title {
	font-size: 40px;
	font-weight: 700;
	color: var(--color-dark);
	max-width: 300px;
}

.container__text {
	color: var(--text-light-mode);
	margin: 1em 0;
	max-width: 320px;
	line-height: 28px;
}

.card {
	width: 288px;
	background-color: var(--white);
	border-radius: 28px;
	margin: 2em auto;
	padding: 3em .5em;
}

.card:hover {
	background: var(--color-dark) url('/assets/img/image-hover.svg') no-repeat;
	background-position: right;
	transform: scale(1.2);
}

.card:hover>.card-content>.card__title {
	font-size: 22px;
	color: var(--white);
}

.card:hover>.card-content>.card__button {
	background: url('/assets/img/arrow-next.svg') no-repeat;
}


.card-content {
	margin-left: 1em;
}

.card__title {
	color: var(--color-dark);
	font-size: 24px;
	font-weight: 700;
}

.card__text {
	color: var(--text-light-mode);
	margin: 1em 0;
}

.card__title-one::after {
	content: url('/assets/img/notification\(2\).svg');
	margin-left: 10px;
}

.card__title-last::after {
	content: url('/assets/img/notification\(6\).svg');
	margin-left: 10px;
}

.footer-contact {
	margin: 2em;
	border-radius: 24px;
	text-align: center;
	padding: 1.5em;
	color: var(--white);
	background: var(--color-primary) url("/assets/img/line-footer.svg") no-repeat;
	background-position: 10vw -5vh;
}

.contact__image {
	width: 75vw;
}

.contact__message {
	font-size: 14px;
	font-weight: 600;
}

.contact__message::before {
	content: url("/assets/img/hello-icon.svg");
	margin-right: 1em;
}

.contact__text {
	font-size: 18px;
	font-weight: 600;
	margin: 2em 0;
}

.contact__title {
	font-size: 32px;
	font-weight: 700;
	margin: 1em 0;
}

.contact__link {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	border-radius: 8px;
	text-decoration: none;
	color: var(--color-primary);
	font-weight: 600;
}

.footer-content {
	text-align: center;
	width: 100vw;
	background: url("/assets/img/footer-line.svg") no-repeat;
	background-position: 0 -20vh;
}

.footer__text {
	margin: 2em 0;
	color: var(--deactive);
}

.page {
	display: inline-block;
	width: 90vw;
	font-size: 12px;
	font-weight: 600;
	color: var(--text-light-mode);
	padding: 1.5em;
	border: 1px solid var(--strock-1);
	border-radius: 8px;
}

.footer-icon {
	display: flex;
	margin: 15px;
	justify-content: center;
}

.icon {
	margin-right: .3em;
	width: 11px;
	height: 11px;
	border: 1px solid var(--strock-1);
	border-radius: 50%;
	padding: .5em;
}

.facebook-icon {
	background-color: var(--color-primary);
}

.facebook-icon,
.youtube-icon,
.instagram-icon {
	width: 15px;
	height: 15px;
}

.footer__copyright {
	font-size: 12px;
	font-weight: 600;
	color: var(--deactive);
	height: 10vh;
	margin-top: 2em;
}

.navbar {
	display: none;
}

.contact__link-navbar {
	display: none;
}

@media screen and (min-width: 768px) {
	.header-container {
		justify-content: space-around;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar__list {
		display: flex;
		align-items: center;
	}

	.navbar__item {
		margin: 0 2em;
	}

	.navbar__link {
		color: var(--text-dark-mode);
		font-weight: 600;
		text-decoration: none;
	}

	.navbar__link:hover {
		color: var(--color-primary);
	}

	.navbar__link-jobs {
		display: flex;
		align-items: center;
	}

	.navbar__link-jobs::after {
		content: url('/assets/img/notification\(2\).svg');
		height: 10vh;
	}

	.contact__link-navbar {
		display: flex;
		background-color: var(--color-dark);
		color: var(--white);
		padding: 0 2em;
	}

	.menu-hamburguer {
		display: none;
	}
}