:root {
	--white: #FFFFFF;
	--main-font: "Montserrat", sans-serif;
	--text-light-mode: #606060;
	--text-dark-mode: #8B8B8B;
	--color-primary: #5468E7;
	--color-dark: #232340;
	--mobile-menu-color: #595976;
	--deactive: #ADADAD;
	--strock-1: #D8D8D8;
	--black: #000000;
	--shade-4: #EDEDED;
	--shade-1: #D1ECFD;
	--shade-7: #908CFF;
	--accent-2: #FFBA79;
	--shade-5: #FFADD0;
	--accent-1: #FFC7DF;

}

body {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	margin-bottom: 1em;
}

.logo__link {
	display: flex;
	align-items: center;
}

.menu-icon {
	background-color: transparent;
	border: none;
}

.about-page {
	padding: 1em;
	background: url("/assets/img/line-service.svg") no-repeat;
	background-position: 0vw 160vh;
}

.page-information {
	display: flex;
}

.number__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
	margin: 0 1em;
}

.name__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
}

.main__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	width: 75vw;
	margin: 1em 0;
}

.page-tools {
	display: flex;
}

.prev__page,
.next__page {
	margin: 0 .8em 0 1em;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}


.card {
	display: flex;
	height: 35vh;
	width: 90vw;
	background: var(--white);
	border-radius: 32px;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
	box-shadow: var(--white) 0 2px 2px;
	text-decoration: none;
	transition: .5s;
}

.card:hover {
	background-color: var(--color-primary);
}

.card:hover>.card__content>.card__text {
	color: var(--white);
}

.image-circle {
	width: 91px;
	height: 91px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2em;
}

.first-card {
	background: var(--shade-1);
}

.second-card {
	background: var(--shade-7);
}

.third-card {
	background: var(--accent-2);
}

.fourth-card {
	background: var(--shade-5);
}

.image__card {
	padding: 1em 0 0 1em;
}

.card__text {
	color: var(--color-primary);
	font-size: 18px;
	font-weight: 600;
}

.page-description {
	display: flex;
}

.number__description {
	color: var(--text-dark-mode);
	font-size: 14px;
	font-weight: 600;
	margin: 0 1em;
}

.name__description {
	color: var(--color-dark);
	font-size: 14px;
	font-weight: 600;
}

.description__title {
	font-weight: 700;
	font-size: 24px;
	color: var(--color-dark);
	width: 78vw;
	margin: 1em 0;
}

.project__number {
	font-size: 140px;
	color: var(--color-primary);
	font-weight: 600;
}

.project__text {
	color: var(--black);
	font-size: 18px;
	font-weight: 600;
	margin: 1em 0;
}

.main-image {
	margin-top: 5em;
	display: flex;
	justify-content: center;

}

.phone__image {
	width: 300px;
}

.circle {
	width: 318px;
	height: 320px;
	border-radius: 50%;
	display: flex;
	background: var(--accent-1);
	justify-content: center;
	align-items: center;
}

.navigation {
	display: flex;
	justify-content: center;
	margin: 3em 0;
}

.navigation input {
	display: none;
}

.navigation__radios {
	margin: 0 1em;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: var(--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
	border: none;
}

.checked {
	background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
}

.footer-contact {
	margin: 2em;
	border-radius: 24px;
	text-align: center;
	padding: 1.5em;
	color: var(--white);
	background: var(--color-primary) url("/assets/img/line-footer.svg") no-repeat;
	background-position: 10vw -5vh;
}

.contact__image {
	width: 75vw;
}

.contact__message {
	font-size: 14px;
	font-weight: 600;
}

.contact__message::before {
	content: url("/assets/img/hello-icon.svg");
	margin-right: 1em;
}

.contact__text {
	font-size: 18px;
	font-weight: 600;
	margin: 2em 0;
}

.contact__title {
	font-size: 32px;
	font-weight: 700;
	margin: 1em 0;
}

.contact__link-footer {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	border-radius: 8px;
	text-decoration: none;
	color: var(--color-primary);
	font-weight: 600;
}

.footer-content {
	text-align: center;
	width: 100vw;
	background: url("/assets/img/footer-line.svg") no-repeat;
	background-position: 0 -20vh;
}

.footer__text {
	margin: 2em 0;
	color: var(--deactive);
}

.page {
	display: inline-block;
	width: 90vw;
	font-size: 12px;
	font-weight: 600;
	color: var(--text-light-mode);
	padding: 1.5em;
	border: 1px solid var(--strock-1);
	border-radius: 8px;
}

.footer-icon {
	display: flex;
	margin: 15px;
	justify-content: center;
}

.icon {
	margin-right: .3em;
	width: 11px;
	height: 11px;
	border: 1px solid var(--strock-1);
	border-radius: 50%;
	padding: .5em;
}

.facebook-icon {
	background-color: var(--color-primary);
}

.facebook-icon,
.youtube-icon,
.instagram-icon {
	width: 15px;
	height: 15px;
}

.footer__copyright {
	font-size: 12px;
	font-weight: 600;
	color: var(--deactive);
	height: 10vh;
	margin-top: 2em;
}

.navbar {
	display: none;
}

.contact__link-navbar {
	display: none;
}

.logo-symbol {
	display: none;
}

.sub-information {
	display: none;
}

.footer__text-tablet {
	display: none;
}

.navbar-footer {
	display: none;
}

.footer__information {
	display: block;
}

.facebook-icon-tablet {
	display: none;
}

.icon__link {
	display: none;
}

.prev__page-tablet,
.next__page-tablet {
	display: none;
}

.image-icon,
.image-icon__page {
	display: none;
}

@media screen and (min-width: 1024px) {
	.header-container {
		justify-content: space-around;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar__list {
		display: flex;
		align-items: center;
	}

	.navbar__item {
		margin: 0 2em;
	}

	.navbar__link {
		color: var(--text-dark-mode);
		font-weight: 600;
		text-decoration: none;
	}

	.navbar__link:hover {
		color: var(--color-primary);
	}

	.navbar__link-jobs {
		display: flex;
		align-items: center;
	}

	.navbar__link-jobs::after {
		content: url('/assets/img/notification\(2\).svg');
		height: 10vh;
	}

	.contact__link-navbar {
		display: flex;
		background-color: var(--color-dark);
		color: var(--white);
		padding: 0 2em;
		align-items: center;
		justify-content: center;
		height: 10vh;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 600;
	}

	.menu-hamburguer {
		display: none;
	}

	/*Navbar end*/
	.image-icon {
		display: block;
		margin: 0 3em 0 5em;
	}

	.main__information {
		display: flex;
		margin: 0 3em;
	}

	.main__title {
		font-size: 48px;
		width: 65%;
	}

	.prev__page,
	.next__page {
		display: none;
	}

	.prev__page-tablet,
	.next__page-tablet {
		margin: 0 .8em 0 2em;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.next__page-tablet {
		background-color: var(--color-primary);
	}

	.prev__page-tablet:hover,
	.next__page-tablet:hover {
		background: var(--color-primary);
	}

	.card-container {
		display: flex;
		justify-content: center;
	}

	.card {
		border-radius: 32px;
		height: 65vh;
		width: 25%;
	}

	.card__text {
		margin-top: 2em;
	}

	.page__content {
		display: flex;
		flex-direction: row-reverse;
	}

	.image-icon__page {
		display: block;
		margin-right: 2em;
	}

	.description__title {
		width: 100%;
	}

	.project__number {
		margin-top: .5em;
	}

	.page__informations {
		margin-left: 10em;
		align-self: center;
	}

	.navigation {
		position: absolute;
		bottom: -122vh;
		left: 120px;
	}

	/* Footer */
	.footer-container {
		margin-top: 5em;
	}

	.footer-contact {
		height: 100vh;
	}

	.bubble-image {
		display: none;
	}

	.contact__image {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.logo-symbol {
		display: inline-block;
	}

	.contact__message {
		margin: 1em 0;
		font-size: 16px;
	}

	.contact__text {
		width: 50%;
		margin: 2em auto 5em;
	}

	.contact__link-footer {
		display: none;
	}

	.contact__information {
		display: flex;
		align-items: center;
	}

	.information {
		border-right: 1px solid;
		height: 64vh;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}

	.contact__title {
		width: 70%;
		font-size: 48px;
	}

	.sub-information {
		display: flex;
		margin: 0 auto;
		height: 26vh;
	}

	.second-bubble {
		position: absolute;
		margin: 0 2em;
	}

	.contact__subtext {
		align-self: center;
		font-size: 24px;
		font-weight: 700;
		margin-top: 3em;
		width: 79%;
	}

	.next__page-footer {
		align-self: flex-end;
		margin-bottom: 1em;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid var(--white);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer__text {
		display: none;
	}

	.footer__text-tablet {
		display: block;
		color: var(--deactive);
		width: 50%;
		margin: 3em auto;
		font-weight: 600;
		font-size: 14px;
	}

	.page {
		display: none;
	}

	.navbar-footer {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid var(--strock-1);
		padding-bottom: 5em;
	}

	.footer__information {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 0 1em;
	}

	.icon {
		border: none;
		display: flex;
		align-items: center;
		align-self: center;
		width: auto;
		height: auto;
	}

	.icon__link {
		display: flex;
		align-items: center;
		margin-right: 1em;
		text-decoration: none;
		color: var(--color-primary);
		font-size: 12px;
		font-weight: 600;
	}

	.facebook-icon {
		display: none;
	}

	.facebook-icon-tablet {
		display: block;
		background: transparent;
	}
}

@media screen and (min-width: 1440px) {

	/*Header*/
	.navbar__link {
		font-size: 18px;
	}

	.contact__link-navbar {
		height: 7vh;
		font-weight: 700;
		font-size: 18px;
	}

	/*Header end*/

	.number__page,
	.name__page {
		font-size: 18px
	}

	.main__information {
		justify-content: center;
	}

	.main__title {
		font-size: 64px;
		width: 60%;
	}

	.prev__page-tablet,
	.next__page-tablet {
		width: 64px;
		height: 64px;
	}

	.card {
		width: 293px;
		height: 490px;
		border-radius: 48px;
	}

	.card:hover {
		transform: scale(1.1);
	}

	.name__description,
	.number__description {
		font-size: 18px
	}

	.page__content {
		margin: 5em 11em;
	}

	.description__title {
		font-size: 32px;
		color: var(--black);
	}

	.project__number {
		font-size: 200px;
	}

	.project__text {
		font-size: 24px;
	}

	/*Footer*/
	.logo-symbol {
		margin: 1em 0 3em;
	}

	.contact__message {
		font-size: 18px;
	}

	.contact__text {
		font-size: 32px;
	}

	.contact__title {
		font-size: 64px;
	}

	.second-bubble {
		width: 103px;
		height: 103px;
	}

	.next__page {
		width: 64px;
		height: 64px;
	}

	.contact__subtext {
		font-size: 32px;
	}

	.footer__logo {
		width: 191px;
		height: 48px;
	}

	.footer__text-tablet {
		font-size: 18px;
	}

	.footer__copyright,
	.icon__link {
		font-size: 14px;
	}

	.facebook-icon-tablet img,
	.instagram-icon img {
		width: 16px;
		height: 16px;
	}

	.youtube-icon img {
		width: 16px;
		height: 12px;
	}
}