:root {
	--white: #FFFFFF;
	--main-font: "Montserrat", sans-serif;
	--text-light-mode: #606060;
	--text-dark-mode: #8B8B8B;
	--color-primary: #5468E7;
	--color-dark: #232340;
	--mobile-menu-color: #595976;
	--deactive: #ADADAD;
	--strock-1: #D8D8D8;

}

body {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	background: url("/assets/img/bg-line.svg") no-repeat;
	background-position: right;
	height: 90vh;
	width: 100vw;
}

.header-container {
	display: flex;
	justify-content: space-between;
	margin: 2em 1.5em;
}

.logo__link {
	display: flex;
	align-items: center;
}

.menu-icon {
	background-color: transparent;
	border: none;
}

.menu-open {
	display: none;
}

.menu-closed {
	position: absolute;
	width: 100vw;
	display: inline-block;
	height: 100vh;
	top: 0px;
	background: url("/assets/img/bg-line-light-mode.svg") no-repeat var(--color-dark);
	background-position-x: 5.5em;
	left: 0;
}

.close-menu {
	border: none;
	background-color: transparent;
}

.menu-list {
	margin-top: 5em;
}

.list__item {
	margin: 2em;
	list-style: none;
}

.list__link {
	color: var(--mobile-menu-color);
	text-decoration: none;
	font-weight: 700;
	font-size: 32px;
}

.list__link:hover {
	color: var(--white);
}

.main {
	margin: 2.5em 3em 5em 1em;
}

.main__title {
	font-weight: 700;
	font-size: 48px;
	color: var(--color-dark);
}

.main__text {
	margin: 2em 0;
	color: var(--text-light-mode);
	line-height: 28px;
}

.main__link {
	background-color: var(--color-primary);
	border: none;
	border-radius: 8px;
	color: var(--white);
	padding: 1em 2em;
	text-decoration: none;
	font-weight: 600;
}

.computer-image {
	height: 351px;
	width: 105vw;
}

.footer-contact {
	margin: 2em;
	border-radius: 24px;
	text-align: center;
	padding: 1.5em;
	color: var(--white);
	background: var(--color-primary) url("/assets/img/line-footer.svg") no-repeat;
	background-position: 10vw -5vh;
}

.contact__image {
	width: 75vw;
}

.contact__message {
	font-size: 14px;
	font-weight: 600;
}

.contact__message::before {
	content: url("/assets/img/hello-icon.svg");
	margin-right: 1em;
}

.contact__text {
	font-size: 18px;
	font-weight: 600;
	margin: 2em 0;
}

.contact__title {
	font-size: 32px;
	font-weight: 700;
	margin: 1em 0;
}

.contact__link {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	border-radius: 8px;
	text-decoration: none;
	color: var(--color-primary);
	font-weight: 600;
}

.footer-content {
	text-align: center;
	width: 100vw;
	background: url("/assets/img/footer-line.svg") no-repeat;
	background-position: 0 -20vh;
}

.footer__text {
	margin: 2em 0;
	color: var(--deactive);
}

.page {
	display: inline-block;
	width: 90vw;
	font-size: 12px;
	font-weight: 600;
	color: var(--text-light-mode);
	padding: 1.5em;
	border: 1px solid var(--strock-1);
	border-radius: 8px;
}

.footer-icon {
	display: flex;
	margin: 15px;
	justify-content: center;
}

.icon {
	margin-right: .3em;
	width: 11px;
	height: 11px;
	border: 1px solid var(--strock-1);
	border-radius: 50%;
	padding: .5em;
}

.facebook-icon {
	background-color: var(--color-primary);
}

.facebook-icon,
.youtube-icon,
.instagram-icon {
	width: 15px;
	height: 15px;
}

.footer__copyright {
	font-size: 12px;
	font-weight: 600;
	color: var(--deactive);
	height: 10vh;
	margin-top: 2em;
}

.facebook-dark {
	background-color: transparent;
}

.footer-dark {
	justify-content: flex-start;
	height: 20vh;
	align-items: flex-end;
	margin-left: 2em;
}

.icon-dark {
	margin-right: 2em;
	text-align: center;
}

.navbar {
	display: none;
}

.contact__link-navbar {
	display: none;
}

.logo-symbol {
	display: none;
}

.sub-information {
	display: none;
}

.footer__text-tablet {
	display: none;
}

.navbar-footer {
	display: none;
}

.footer__information {
	display: block;
}

.facebook-icon-tablet {
	display: none;
}

.icon__link {
	display: none;
}

@media screen and (min-width: 1024px) {
	.header-container {
		justify-content: space-around;
	}

	.navbar {
		display: flex;
		align-items: center;
	}

	.navbar__list {
		display: flex;
		align-items: center;
	}

	.navbar__item {
		margin: 0 2em;
	}

	.navbar__link {
		color: var(--text-dark-mode);
		font-weight: 600;
		text-decoration: none;
	}

	.navbar__link:hover {
		color: var(--color-primary);
	}

	.navbar__link-jobs {
		display: flex;
		align-items: center;
	}

	.navbar__link-jobs::after {
		content: url('/assets/img/notification\(2\).svg');
		height: 10vh;
	}

	.contact__link-navbar {
		display: flex;
		background-color: var(--color-dark);
		color: var(--white);
		padding: 0 2em;
		align-items: center;
		justify-content: center;
		height: 10vh;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 600;
	}

	.menu-hamburguer {
		display: none;
	}

	.main {
		display: flex;
		align-items: center;
		margin-left: 3em;
		margin-top: 0;
	}

	.main__title {
		font-size: 64px;
	}

	.main__image {
		margin-right: 2em;
	}

	.computer-image {
		height: 90vh;
		width: 53vw;
	}

	.footer-contact {
		height: 100vh;
	}

	.bubble-image {
		display: none;
	}

	.contact__image {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.logo-symbol {
		display: inline-block;
	}

	.contact__message {
		margin: 1em 0;
		font-size: 16px;
	}

	.contact__text {
		width: 50%;
		margin: 2em auto 5em;
	}

	.contact__link {
		display: none;
	}

	.contact__information {
		display: flex;
		align-items: center;
	}

	.information {
		border-right: 1px solid;
		height: 64vh;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}

	.contact__title {
		width: 70%;
		font-size: 48px;
	}

	.sub-information {
		display: flex;
		margin: 0 auto;
		height: 26vh;
	}

	.second-bubble {
		position: absolute;
		margin: 0 2em;
	}

	.contact__subtext {
		align-self: center;
		font-size: 24px;
		font-weight: 700;
		margin-top: 3em;
		width: 80%;
	}

	.next__page {
		align-self: flex-end;
		margin-bottom: 1em;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: 1px solid var(--white);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer__text {
		display: none;
	}

	.footer__text-tablet {
		display: block;
		color: var(--deactive);
		width: 50%;
		margin: 3em auto;
		font-weight: 600;
		font-size: 14px;
	}

	.page {
		display: none;
	}

	.navbar-footer {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid var(--strock-1);
		padding-bottom: 5em;
	}

	.footer__information {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 0 1em;
	}

	.icon {
		border: none;
		display: flex;
		align-items: center;
		align-self: center;
		width: auto;
		height: auto;
	}

	.icon__link {
		display: flex;
		align-items: center;
		margin-right: 1em;
		text-decoration: none;
		color: var(--color-primary);
		font-size: 12px;
		font-weight: 600;
	}

	.facebook-icon {
		display: none;
	}

	.facebook-icon-tablet {
		display: block;
		background: transparent;
	}
}

@media screen and (min-width: 1440px) {

	/*Header*/
	.navbar__link {
		font-size: 18px;
	}

	.contact__link-navbar {
		height: 7vh;
		font-weight: 700;
		font-size: 18px;
	}

	/*Header end*/

	.main__title {
		font-size: 84px;
		line-height: 100px;
	}

	.main__text {
		font-size: 18px;
		width: 77%;
		margin: 4em 0;
	}

	.main__link {
		display: flex;
		width: 165px;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: 700;
	}

	/*Footer*/
	.logo-symbol {
		margin: 1em 0 3em;
	}

	.contact__message {
		font-size: 18px;
	}

	.contact__text {
		font-size: 32px;
	}

	.contact__title {
		font-size: 64px;
	}

	.second-bubble {
		width: 103px;
		height: 103px;
	}

	.next__page {
		width: 64px;
		height: 64px;
	}

	.contact__subtext {
		font-size: 32px;
	}

	.footer__logo {
		width: 191px;
		height: 48px;
	}

	.footer__text-tablet {
		font-size: 18px;
	}

	.footer__copyright,
	.icon__link {
		font-size: 14px;
	}

	.facebook-icon-tablet img,
	.instagram-icon img {
		width: 16px;
		height: 16px;
	}

	.youtube-icon img {
		width: 16px;
		height: 12px;
	}
}