:root {
	--white: #FFFFFF;
	--main-font: "Montserrat", sans-serif;
	--text-light-mode: #606060;
	--text-dark-mode: #8B8B8B;
	--color-primary: #5468E7;
	--color-dark: #232340;
	--mobile-menu-color: #595976;
	--deactive: #ADADAD;
	--strock-1: #D8D8D8;
	--black: #000000;
	--shade-4: #EDEDED;
	--shade-1: #D1ECFD;
	--shade-2: #E8BEFF;
	--shade-7: #908CFF;
	--shade-5: #FFADD0;
	--shade-6: #FFCE79;
	--accent-2: #FFBA79;
	--accent-1: #FFC7DF;

}

body {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	background: var(--white);
}

.header-container {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	margin-bottom: 1em;
}

.menu-icon {
	background-color: transparent;
	border: none;
}

.container-page {
	padding: 1em;
}

.page-information {
	display: flex;
	margin-bottom: 2em;
}

.number__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
	margin: 0 1em;
}

.name__page {
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
}

.container__title {
	font-size: 40px;
	font-weight: 700;
	color: var(--color-dark);
	max-width: 300px;
}

.container__text {
	color: var(--text-light-mode);
	margin: 1em 0;
}

.card-container {
	display: flex;
	flex-direction: column;
}

.card {
	width: 310px;
	background-color: var(--accent-2);
	border-radius: 17px;
	margin: 5em auto 2em;
	padding: 2em .5em;
}

.card__button {
	background-color: var(--shade-7);
	padding: 0.6em 1em;
	margin-left: 1em;
	border-radius: 14px;
	color: var(--white);
	text-decoration: none;
}

.card-container__title {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-dark);
}

.card-container__text {
	color: var(--text-light-mode);
	margin: 2em 0;
	line-height: 28px;
}

.card-container__button {
	width: 48px;
	height: 48px;
	display: flex;
	border: 2px solid var(--color-dark);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.second-card {
	background-color: var(--shade-2);
}

.third-card {
	background-color: var(--shade-6);
}

.fourth-card {
	background-color: var(--shade-1);
}

.container__button {
	display: block;
	padding: 1em 2em;
	margin: 3em auto;
	width: 80%;
	max-width: 300px;
	text-align: center;
	color: var(--white);
	text-decoration: none;
	border-radius: 8px;
	background-color: var(--color-primary);
}